<app-nav>
  <p>Start searching for cars by using the following filters and search field:</p>
  <form [formGroup]='carForm' (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input type="text" placeholder="(ie. Accent, Soul, Rio)" aria-label="Model" matInput formControlName="model">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>{{ yearsOptions === null ? "Loading years..." : "Year"}}</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Year" matInput formControlName="year"
            [matAutocomplete]="yearAuto">
          <mat-autocomplete autoActiveFirstOption #yearAuto="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let option of yearsFilteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matPrefix *ngIf='yearsOptions === null'>refresh</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>{{ typesOptions === null ? "Loading types..." : "Type"}}</mat-label>
          <input name='type' type="text" placeholder="Pick one" aria-label="Type" matInput formControlName="type"
            [matAutocomplete]="typesAuto">
          <mat-autocomplete autoActiveFirstOption #typesAuto="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let option of typesFilteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matPrefix *ngIf='typesOptions === null'>refresh</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>{{ makesOptions === null ? "Loading makes..." : "Make"}}</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Make" matInput formControlName="make"
            [matAutocomplete]="makeAuto">
          <mat-autocomplete autoActiveFirstOption #makeAuto="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let option of makesFilteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matPrefix *ngIf='makesOptions === null'>refresh</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12">
        <button mat-raised-button color='accent' type='submit' [disabled]='carForm.invalid'>
          Search
        </button>
      </div>
    </div>
  </form>
  <br>
  <div *ngIf='result$'>
    <ng-container *ngIf='result$ | async as result;else loadingResults'>
      <ng-container *ngIf='result?.length;else noResults'>
        <h4>Results:</h4>
        <mat-card class='mb-2' *ngFor='let record of result'>
          <p>
            <b>Model: </b> {{ record.model }}
          </p>
          <p>
            <b>Make: </b> {{ record.make }}
          </p>
          <p>
            <b>Type: </b> {{ record.type }}
          </p>
          <p>
            <b>Year: </b> {{ record.year }}
          </p>
        </mat-card>
      </ng-container>
      <ng-template #noResults>
        <p>No results found</p>
      </ng-template>
    </ng-container>
    <ng-template #loadingResults>
      <mat-spinner diameter='20' class='d-inline-block align-middle'></mat-spinner><span> Loading...</span>
    </ng-template>
  </div>
</app-nav>